* {
    margin: 0;
    padding: 0;
}

ion-content {
    --background: url('/assets/images/mountain-8.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

ion-list {
    background-color: #ffffff00 !important;
}

.container {
    position: relative;
    text-align: center;
    color: var(--ion-color-light);
}

img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    filter: brightness(50%);
}

.space {
    margin-top: 2rem;
}

h3 {
    margin-top: 4rem;
    padding: 15px;
    color: var(--ion-color-light);
}

hr {
    background-color: var(--ion-color-light);
    opacity: 0.36;
    margin: 0 15px;
}