<ion-content>
    <ion-grid>
        <img src="/assets/images/berge-bw.jpg" />

        <div class="container">
            <ion-row>
                <ion-col>
                    <div class="space"></div>
                    <ion-icon name="arrow-back-outline" (click)="onBack()"></ion-icon>
                    <h4>BEVOR SIE</h4>
                    <h2>ANKOMMEN</h2>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div class="bike-reservation-card">
                        <ion-row>
                            <ion-col>
                                <p>Fahrradstellplätze Reservieren</p>
                                <p class="desc"></p>
                                <div>
                                    <ion-item lines="none">
                                        <ion-label>Plätze</ion-label>
                                        <ion-select [(ngModel)]="bikeAmount" [value]="bikeAmount" interface="action-sheet" (ionChange)="onChangeAmount($event)">
                                            <ion-select-option [value]="0">0</ion-select-option>
                                            <ion-select-option [value]="1">1</ion-select-option>
                                            <ion-select-option [value]="2">2</ion-select-option>
                                            <ion-select-option [value]="3">3</ion-select-option>
                                            <ion-select-option [value]="4">4</ion-select-option>
                                        </ion-select>
                                    </ion-item>
                                    <!-- <ion-button (click)="onSaveBikeReservation()" [disabled]="!bikeAmount">
                                        Speichern
                                    </ion-button> -->
                                </div>
                            </ion-col>
                        </ion-row>
                    </div>
                    <div class="starter-pack-card">
                        <ion-row>
                            <ion-col>
                                <p>Erstausstattung bei Ankunft</p>
                                <p class="desc">
                                    Schreiben Sie uns einfach eine Einkaufsliste mit Lebensmitteln die Sie gerne bei der Ankuft auffinden möchten
                                </p>

                                <ion-textarea [(ngModel)]="starterMessage" [value]="starterMessage" placeholder="Wurst und Käse, 2x Vollkorn Semmel ..." rows="12" autofocus="true" (ionChange)="onChangeMessage($event)"></ion-textarea>

                                <!-- <div>
                                    <ion-button (click)="onSendBreadOrder()" [disabled]="!starterMessage">
                                        Speichern
                                    </ion-button>
                                </div> -->
                            </ion-col>
                        </ion-row>
                    </div>
                    <!-- <div class="button-card">
                        <ion-button (click)="onSendBreadOrder()" [disabled]="!starterMessage && !bikeAmount">
                            Speichern
                        </ion-button>
                    </div> -->
                </ion-col>
            </ion-row>
            <div id="center">
                <ion-button (click)="onSendStarterMessage()" [disabled]="!starterMessage && !bikeAmount">
                    Speichern
                </ion-button>
            </div>
            <div class="space-big"></div>
        </div>
    </ion-grid>
</ion-content>