.container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

ion-row {
    height: 100%;
}

.container>ion-row {
    flex-direction: column;
    align-items: center;
}

ion-button {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

ion-icon {
    font-size: 1.3rem;
    color: var(--ion-color-light);
    margin-right: 1.5rem;
}

span {
    margin: calc(1rem - 5px);
    color: var(--ion-color-primary);
}

ion-textarea {
    width: 90%;
    text-align: start;
    border-radius: 15px;
    padding: 0.3rem 0.8rem;
    background-color: var(--ion-color-light-shade);
}

.ion-justify-content-between {
    width: 90%;
}

.space {
    margin-top: 2rem;
}