* {
    margin: 0;
    padding: 0;
}

ion-content {
    --background: var(--ion-color-light-shade);
    --background: url('/assets/images/mountain-bg.jpg') no-repeat 100% 100%;
    h2 {
        margin-top: 5rem;
    }
    ion-list {
        background-color: #00000000 !important;
    }
    #search-row {
        margin: 0 3%;
        ion-searchbar {
            margin: 10px 0;
            border: 0 !important;
            --box-shadow: none !important;
            --border-radius: 5rem;
        }
        .ios ion-searchbar {
            margin: 0;
            border: 0 !important;
            --box-shadow: none !important;
            --border-radius: 100px;
            --background: rgba(255, 255, 255, 0.308) !important;
        }
    }
    .space {
        margin-top: 3rem;
    }
}

@media screen and (min-width: 570px) {
    ion-content {
        --background: var(--ion-color-light-shade);
        --background: url('/assets/images/mountain-bg.jpg') 0/100% 200%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
}
