* {
    margin: 0;
    padding: 0;
}

.user-item {
    padding: 1rem;
    margin: 1rem;
    margin-top: 0;
    border-radius: 1rem;
    background-color: var(--ion-color-light);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    p {
        text-align: left;
    }
    .date-display {
        height: 2rem;
        line-height: 2rem;
        margin-top: 1rem;
        border-radius: 5rem;
        background-color: var(--ion-color-primary);
        p {
            text-align: center;
            color: var(--ion-color-light);
        }
    }
    .room-display {
        height: 2rem;
        line-height: 2rem;
        margin-top: 1rem;
        border-radius: 5rem;
        background-color: var(--ion-color-light-shade);
        ion-row {
            justify-content: center;
            p {
                margin-left: 10px;
            }
            span {
                margin-top: .2rem;
                font-size: 1.6rem;
                color: var(--ion-color-medium);
            }
        }
    }
}
