<ion-content>
    <div class="confirmation-card">
        <div class="vertical-center">
            <h2>Vielen Dank!</h2>
            <p>Ihre Nachricht wurde gesendet!</p>
            <div class="space"></div>
            <P>Wir versuchen Ihren Wünschen / Problemen schnellstmöglich nachzugehen und antowrten, Ihnen bei Bedarf via. E-mail oder melden uns persönlich.
            </P>
            <br />
            <ion-button (click)="onDismiss()"> Schließen </ion-button>
        </div>
    </div>
</ion-content>