<!-- <ion-toggle class="toggle"></ion-toggle> -->
<div class="card" [routerLink]="card.route ?? ''" (click)="openLink()">
    <ion-row>
        <ion-col>
            <img [src]="card.image" />
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <h4>{{ card.title }}</h4>
            <p>{{ card.subtitle }}</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="btn-col">
            <ion-button>
                {{ card.btnText }}
                <!-- <ion-icon name="chevron-forward-outline"></ion-icon> -->
            </ion-button>
        </ion-col>
    </ion-row>
</div>
