.action-card {
    // margin-top: 20px;
    position: relative;
    text-align: center;
    color: white;
    border-radius: 15px;
    margin-bottom: 1.5rem;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.action-card>img {
    height: 7rem;
    width: 100%;
    object-fit: cover;
    filter: brightness(70%);
    border-radius: 15px;
}

h4 {
    // text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
}

// p {
//     width: 20rem;
//     text-transform: uppercase;
//     letter-spacing: 0px;
//     font-size: 0.8rem;
//     text-align: center;
//     opacity: 0.8;
// }
.before-arrival {
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 10px;
    margin-bottom: 2rem;
    ion-col {
        margin: 0;
        padding: 0;
        img {
            border-radius: 20px 20px 0px 0px;
            height: 11rem;
            width: 100%;
            object-fit: cover;
        }
        h2 {
            font-size: 1.2rem;
            font-weight: 500;
            margin: 1rem;
        }
        p {
            color: rgb(61, 61, 61);
            margin: 1rem;
            margin-top: -10px;
        }
    }
    .btn-col {
        text-align: end;
        ion-button {
            text-align: end;
            --border-radius: 5rem;
            width: 50%;
            margin: 1rem;
            margin-top: 0;
        }
    }
}
