<div class="card">
    <ion-row>
        <ion-col>
            <img [src]="image" />
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <h4>{{ title }}</h4>
            <p>{{ subtitle }}</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="btn-col">
            <ion-button>
                {{ btnText }}
                <!-- <ion-icon name="chevron-forward-outline"></ion-icon> -->
            </ion-button>
        </ion-col>
    </ion-row>
</div>
