<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-md="12" size-lg="8" offset-lg="2">
                <div class="top-left" (click)="onBack()">
                    <span class="material-icons-outlined"> arrow_back </span>
                </div>
                <!-- <ion-row>
                    <div class="icon-container" (click)="onBack()">
                        <span class="material-icons-outlined"> arrow_back </span>
                    </div>
                </ion-row> -->
                <h3>Wohnungsinformationen</h3>
                <hr />

                <app-apartment-editor *ngIf="isAdmin" [selectedItem]="selectedItem"></app-apartment-editor>
                <ion-list *ngFor="let item of loadedApartmentDetailItemList">
                    <app-information-detail-card [detailItem]="item" (click)="selectItem(item)"></app-information-detail-card>
                </ion-list>

                <ion-row class="space"></ion-row>
            </ion-col>
        </ion-row>
        <div class="spinner-container" *ngIf="isLoading">
            <ion-spinner name="dots"></ion-spinner>
        </div>
    </ion-grid>
</ion-content>