<div class="offer-detail-card">
    <ion-row>
        <h2>{{ title }}</h2>
    </ion-row>
    <ion-row>
        <p>
            {{ description }}
        </p>
    </ion-row>
    <ion-row>
        <ion-col size="5">
            <ion-row id="row">
                <ion-icon name="globe-outline"></ion-icon>
                <p id="link">Webseite</p>
            </ion-row>
        </ion-col>
        <ion-col>
            <ion-row id="row">
                <ion-icon name="map-outline"></ion-icon>
                <p id="link">Auf Karte anzeigen</p>
            </ion-row>
        </ion-col>
    </ion-row>
    <!-- <ion-row>
        <ion-col>
            <ion-row id="row">
                <ion-icon name="call-outline"></ion-icon>
                <p id="link">Anrufen</p>
            </ion-row>
        </ion-col>
    </ion-row> -->
</div>
