<ion-header>
    <ion-toolbar>
        <span class="material-icons-outlined" (click)="onBack()"> arrow_back </span>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <div class="container" *ngIf="!isLoading">
            <ion-list *ngFor="let user of unreadUsers">
                <app-user-card [user]="user" (click)="onOpenChat(user)"></app-user-card>
            </ion-list>
            <ion-list *ngFor="let user of loadedUsers">
                <app-user-card [user]="user" (click)="onOpenChat(user)"></app-user-card>
            </ion-list>
        </div>
        <div class="spinner-container" *ngIf="isLoading">
            <ion-spinner name="dots"></ion-spinner>
        </div>
    </ion-grid>
</ion-content>
