<div class="info-card">
    <ion-row class="space-between">
        <div class="input-field">
            <p id="hint-text">Info Titel:</p>
            <ion-input [(ngModel)]="infoTitle" type="text"></ion-input>
        </div>
        <div class="space"></div>
        <div class="input-field">
            <p id="hint-text">Freitext:</p>
            <ion-toggle [(ngModel)]="cloumns" (ionChange)="changeColumns()"></ion-toggle>
        </div>
    </ion-row>
    <ion-row class="space-between">
        <p id="hint-text">Name:</p>
        <p id="hint-text">Inhalt:</p>
    </ion-row>
    <div class="column" *ngIf="columns">
        <ion-list *ngFor="let info of infos">
            <ion-row class="space-between">
                <div class="input-field">
                    <ion-input [(ngModel)]="info.title" type="text"></ion-input>
                </div>
                <div class="space"></div>

                <div class="input-field">
                    <ion-input [(ngModel)]="info.content" type="text"></ion-input>
                </div>
            </ion-row>
        </ion-list>
    </div>
    <div class="free-text" *ngIf="!columns">
        <div class="input-field">
            <p id="hint-text">Inhalt:</p>
            <ion-textarea auto-grow="true" id="textbar" lines="none" type="text" rows="1" [(ngModel)]="freeText"></ion-textarea>
        </div>
    </div>
    <br />
    <ion-row class="space-between">
        <ion-button class="no-bg" (click)="addInfoRow()">Reihe Hinzufügen</ion-button>
        <ion-button>Speichern</ion-button>
    </ion-row>
</div>
