<div class="info-card">
    <ion-row>
        <div class="input-field">
            <p id="hint-text">Info Titel:</p>
            <ion-input [(ngModel)]="infoTitle" type="text"></ion-input>
        </div>
        <div class="input-field">
            <p id="hint-text">Spalte:</p>
            <ion-toggle [(ngModel)]="periodOfStayWidget"></ion-toggle>
        </div>
    </ion-row>
    <ion-row>
        <div class="input-field">
            <p id="hint-text">Name:</p>
            <ion-input [(ngModel)]="infoTitle" type="text"></ion-input>
        </div>
        <div class="input-field">
            <p id="hint-text">Inhalt:</p>
            <ion-input [(ngModel)]="infoTitle" type="text"></ion-input>
        </div>
    </ion-row>
</div>
