<ion-header>
    <ion-row>
        <span class="material-icons-outlined" (click)="onBack()"> arrow_back </span>
        <img src="/assets/images/mountain-1.jpg" alt="" />
        <h4>Ohrwumslar</h4>
        <!-- <span class="material-icons-outlined align-right" (click)="onBack()">
      info_outlined
    </span> -->
    </ion-row>
</ion-header>

<ion-content>
    <ion-grid>
        <div class="centered-text">
            <p [ngStyle]="{opacity: 1 - loadedMessages.length*0.2}">
                Bei Fragen, Wünschen oder Problemen, können Sie uns hier ganz einfach eine Nachricht schreiben
            </p>
        </div>
        <div *ngIf="!isLoading">
            <ion-list *ngFor="let message of loadedMessages">
                <div class="message sent" [ngClass]="{recieved: message.email !== user.email}">
                    <p>{{message.message}}</p>
                </div>
            </ion-list>
        </div>
        <div class="spinner-container" *ngIf="isLoading">
            <ion-spinner name="dots"></ion-spinner>
        </div>
    </ion-grid>
</ion-content>

<ion-footer align-title="center" class="ion-no-border">
    <ion-row>
        <ion-textarea placeholder="Nachricht" auto-grow="true" id="textbar" lines="none" type="text" rows="1" [(ngModel)]="message"></ion-textarea>
        <ion-icon name="paper-plane" (click)="onSendMessage()"></ion-icon>
    </ion-row>
</ion-footer>