<ion-content>
    <ion-fab vertical="top" horizontal="start" slot="fixed" (click)="onClose()">
        <ion-icon name="close-outline" id="close-icon"></ion-icon>
    </ion-fab>

    <div class="container">
        <ion-row>
            <h3>Bewerten Sie uns</h3>
            <p id="description">
                Es hat Ihnen bei uns gefallen? <br /> Wir würden uns sehr über eine Bewertung auf Google Maps freuen!
            </p>
            <ion-button>
                <ion-icon name="star-half-outline"></ion-icon>
                <!-- <p>Zur Bewertung</p> -->
                <a href="https://g.page/r/CcgiqX68TxgkEAg/review">Zur Bewertung</a>
            </ion-button>
        </ion-row>
    </div>
</ion-content>