<!-- <ion-content>
    <ion-fab vertical="top" horizontal="start" slot="fixed" (click)="onBack()">
        <ion-icon name="close-outline"></ion-icon>
    </ion-fab>
    <div class="container">
        <ion-row>
            <h2>Brötchen Service</h2>
            <p id="subtitle">
                Schreiben Sie uns einfach am Vortag eine Liste mit Brötchen, wir bringen Sie am nächsten Morgen vorbei!
            </p>

            <div class="date-display">
                <ion-row class="ion-justify-content-evenly">
                    <p>Bestellung für den</p>
                    <p>{{ nextDay | date: "dd.MM.y" }}</p>
                </ion-row>
            </div>
            <ion-textarea placeholder="2x Vollkorn Semmel, ..." rows="12" autofocus="true" (ionChange)="onChangeMessage($event)"></ion-textarea>

            <ion-row class="ion-justify-content-center">
                <ion-button id="send-btn" (click)="onOrderBread()" [disabled]="email === 'admin'">
                    <ion-icon name="paper-plane"></ion-icon>
                    <p>Senden</p>
                </ion-button>
            </ion-row>
            <p *ngIf="email === 'admin'" id="subtitle">
                Sie sind als Administrator eingeloggt.<br /> Sie können dieses Feature nicht nutzen.
            </p>
            <div class="space"></div>
        </ion-row>
    </div>
</ion-content> -->

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-md="12" size-lg="8" offset-lg="2">
                <div class="container">
                    <img class="background-img" src="/assets/images/breakfast.jpg" />
                    <div class="centered">
                        <span class="material-icons-outlined" (click)="onBack()">
              arrow_back
            </span>
                        <h2>Frühstücksservice</h2>
                        <hr />
                        <p id="subtitle">
                            Schreiben Sie uns einfach am Vortag eine Liste mit Brötchen, wir bringen Sie am nächsten Morgen vorbei!
                        </p>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-md="12" size-lg="8" offset-lg="2">
                <div class="content-card">
                    <ion-button expand="block" fill="outline">Bestellung für den: {{ nextDay | date: "dd.MM.y" }}
                        <span class="material-icons-outlined"> shopping_basket </span>
                    </ion-button>
                    <!-- <p *ngIf="alreadySent">
                        Sie haben bereits eine Bestellung abgeschickt. Sie können dennoch eine weitere aufgeben.
                    </p> -->
                    <ion-textarea [(ngModel)]="message" placeholder="2x Vollkorn Semmel, ..." rows="12" autofocus="false"></ion-textarea>
                    <p *ngIf="email === 'admin'" id="subtitle">
                        Sie sind als Administrator eingeloggt.<br /> Sie können dieses Feature nicht nutzen.
                    </p>
                    <ion-button class="send-btn" expand="block" id="send-btn" (click)="onOrderBread()" [disabled]="email === 'admin' || !message">Bestellung abschicken
                        <span class="material-icons-outlined"> send </span>
                    </ion-button>
                    <p class="space">space</p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>