<ion-content scroll="true">
    <ion-grid>
        <ion-row>
            <ion-col size-md="12" size-lg="8" offset-lg="2">
                <div class="container">
                    <img class="background-img" src="/assets/images/breakfast.jpg" />
                    <div class="top-left" (click)="onBack()">
                        <span class="material-icons-outlined"> arrow_back </span>
                    </div>
                    <div class="centered">
                        <!-- <span class="material-icons-outlined" (click)="onBack()">
              arrow_back
            </span> -->
                        <h2>Frühstücksservice</h2>
                        <p>
                            Schreiben Sie uns einfach am Vortag eine Liste mit Brötchen, wir bringen Sie am nächsten Morgen vorbei!
                        </p>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-md="12" size-lg="8" offset-lg="2">
                <div class="order-date-display">
                    <p>Bestellung für morgen den {{ nextDay | date: "dd.MM" }}</p>
                </div>
                <div *ngIf="email !== 'admin'" class="content-card">
                    <!-- <ion-button expand="block" fill="outline">Bestellung für den: {{ nextDay | date: "dd.MM.y" }}
                        <span class="material-icons-outlined"> shopping_basket </span>
                    </ion-button> -->
                    <!-- <p *ngIf="alreadySent">
                        Sie haben bereits eine Bestellung abgeschickt. Sie können dennoch eine weitere aufgeben.
                    </p> -->
                    <ion-textarea [(ngModel)]="message" placeholder="2x Vollkorn Semmel, ..." rows="12" autofocus="false"></ion-textarea>
                    <p *ngIf="email === 'admin'" id="subtitle">
                        Sie sind als Administrator eingeloggt.<br /> Sie können dieses Feature nicht nutzen.
                    </p>
                    <ion-button class="send-btn filled-btn" expand="block" id="send-btn" (click)="onOrderBread()" [disabled]="email === 'admin' || !message">Bestellung abschicken
                        <!-- <span class="material-icons"> send </span> -->
                    </ion-button>
                    <p class="space">space</p>
                </div>
                <div *ngIf="email === 'admin'" class="content-card">
                    <div class="input-field">
                        <p>Bäcker E-mail:</p>
                        <ion-input [(ngModel)]="bakerEmail" type="email"></ion-input>
                    </div>
                    <p id="subtitle">
                        Sie sind als Administrator eingeloggt.<br /> Hier können Sie die E-mail Adresse ihres Bäckers oder Beauftragten bearbeiten. Alle Anfragen werden an Sie und diese E-mail geschickt.
                    </p>
                    <ion-button class="send-btn" (click)="onChangeBakerEmail()" disabled="{{bakerEmail === savedBakerEmail}}">Speichern</ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>