.container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    hr {
        background-color: var(--ion-color-light-shade);
        width: 90%;
        margin-left: 5%;
        margin-bottom: 2rem;
    }
    .info-line {
        align-items: center;
        width: 90%;
        margin-left: 5%;
        ion-col {
            align-items: center;
            .tag {
                margin: 0;
            }
            p {
                text-align: start;
            }
            .date-display {
                border-radius: 5rem;
                background-color: var(--ion-color-light);
                p {
                    text-align: end;
                }
                ion-row {
                    justify-content: center;
                    ion-datetime {
                        margin: 0;
                        padding: 0;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }
            }
            span {
                color: var(--ion-color-primary);
            }
        }
    }
    ion-button {
        --background: var(--ion-color-primary);
        margin: 0 5%;
        margin-bottom: 1rem;
        width: 80%;
    }
    // .alarm {
    //     color: var(--ion-color-secondary);
    // }
}

ion-row>ion-col {
    align-items: center;
    flex-direction: column;
}

#close-icon {
    margin: 0.3rem;
    color: var(--ion-color-primary) !important;
    font-size: 2rem;
}

.space {
    height: 2rem;
}
