<ion-content>
    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="onOpenSendMessage()">
        <ion-button>
            <ion-icon name="paper-plane"></ion-icon>

            <p>Nachrichten</p>
        </ion-button>
    </ion-fab> -->
    <ion-grid>
        <ion-row>
            <ion-col size-md="12" size-lg="8" offset-lg="2">
                <div class="container">
                    <img class="background-img" src="/assets/images/mountain-1.jpg" />

                    <div class="top-right" (click)="onLogout()">
                        <div class="icon-container">
                            <span class="material-icons-outlined"> logout </span>
                        </div>
                    </div>

                    <!-- <div class="top-left" *ngIf="user.email === 'admin'" (click)="onOpenAdmin()">
                        <div class="icon-container">
                            <span class="material-icons-outlined">
                admin_panel_settings
              </span>
                        </div>
                    </div> -->

                    <div class="centered">
                        <h2>Ohrwumslar</h2>
                        <!-- <div class="custom-hr"></div> -->
                        <hr />
                        <p id="subtitle">Ihre Ferienwohnung</p>
                    </div>
                </div>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="!isAdmin">
            <ion-col size-md="12" size-lg="8" offset-lg="2">
                <div class="content-card">
                    <p>
                        Liebe Gäste,<br /> wir wünschen Ihnen, dass Sie sich hier in der Wohnung wohlfühlen, Ihren Alltag hinter sich lassen und in der herrlichen Natur der Oberstdorfer Bergwelt auftanken können. <br /><br />
                    </p>
                    <div class="date-display">
                        <ion-row>
                            <ion-col size="7">
                                <p>Ihre Buchung:</p>
                            </ion-col>
                            <ion-col>
                                <div class="filled-display">
                                    <p>
                                        {{ user.arriveDate | date: "dd.MM" }} - {{ user.leaveDate | date: "dd.MM" }}
                                    </p>
                                </div>
                            </ion-col>
                        </ion-row>
                    </div>
                </div>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="isAdmin" class="admin-card">
            <ion-col size-md="12" size-lg="8" offset-lg="2">
                <div class="content-card">
                    <p>
                        Sie sind als Administrator eingeloggt. Hier können Sie ganz einfach einen neuen Gast hinzufügen.
                    </p>
                    <br />
                    <ion-button (click)="onOpenAdmin()" class="admin-button">
                        Gast hinzufügen
                    </ion-button>
                </div>
                <div *ngIf="!loadedUsers.length && !isLoading" class="guest-list">
                    <p class="no-guests">momentan keine aktiven Gäste</p>
                </div>
                <div *ngIf="loadedUsers.length && !isLoading " class="guest-list">
                    <p class="guest-title">Aktive/Zukünftige Gäste</p>
                    <ion-list *ngFor="let user of loadedUsers">
                        <app-user-item [user]="user" (click)="onOpenUserDetailModal(user)"></app-user-item>
                    </ion-list>
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="content-row-small">
            <ion-col size-md="12" size-lg="8" offset-lg="2">
                <app-action-card *ngIf="user.arriveDate > currentDate" title="Bevor Sie Ankommen" subtitle="Teilen Sie uns einfach mit wie Sie ankommen möchten. Wir kümmern uns darum!" image="/assets/images/mountain-person.jpg" (click)="onOpenBeforeArrival()"></app-action-card>

                <div class="action-field">
                    <ion-row>
                        <ion-col size="6">
                            <div class="action-card-small" (click)="onOpenApartmentDetail()">
                                <img src="/assets/images/apartment.jpeg" alt="" />
                                <div class="centered">
                                    <span class="material-icons-outlined"> bed </span>
                                    <h4>Ihre Wohnung</h4>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col size="6">
                            <div class="action-card-small" (click)="onOpenBreadOrderPage()">
                                <img src="/assets/images/bread.jpg" alt="" />
                                <div class="centered">
                                    <span class="material-icons-outlined"> bakery_dining </span>
                                    <h4>Frühstücks Service</h4>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col size="6">
                            <div class="action-card-small" (click)="onOpenReservationModal()">
                                <img src="/assets/images/sauna.jpeg" alt="" />
                                <div class="centered">
                                    <span class="material-icons-outlined"> hot_tub </span>
                                    <h4>Sauna Reservieren</h4>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col size="6">
                            <a href="https://g.page/r/CcgiqX68TxgkEAg/review">
                                <div class="action-card-small">
                                    <img src="/assets/images/feedback.jpg" alt="" />
                                    <div class="centered">
                                        <span class="material-icons-outlined"> grade </span>
                                        <h4>Bewerten Sie uns</h4>
                                    </div>
                                </div>
                            </a>
                        </ion-col>
                        <hr />

                        <ion-button (click)="onOpenSendMessage()">
                            Nachricht Schreiben
                            <ion-icon name="chatbubbles-outline"></ion-icon>
                        </ion-button>
                        <!-- <ion-button (click)="onOpenSendMessage()" class="orange-button">
                            Feedback zu App senden
                            <ion-icon name="chatbubbles-outline"></ion-icon>
                        </ion-button> -->
                    </ion-row>
                </div>
            </ion-col>
        </ion-row>
        <ion-row class="space"></ion-row>
    </ion-grid>
</ion-content>

<!--
  <app-action-card title="Ihre Wohnung" subTitle="Spezielle Informationen" image="/assets/images/mountain-2.jpg" (click)="onOpenApartmentDetail()"></app-action-card>

                <app-action-card title="Semmeln bestellen" subTitle="Wir liefern direkt aufs Zimmer" image="/assets/images/bread.jpg" (click)="onOpenBreadOrderPage()"></app-action-card>

                <app-action-card title="Reservierungen" subTitle="Sauna Reservieren" image="/assets/images/Sauna-Image.jpg" (click)="onOpenReservationModal()"></app-action-card>

                <app-action-card title="Feedback" subTitle="Bewerten Sie uns!" image="/assets/images/Feedback-Image.jpg" (click)="onOpenFeedbackModal()"></app-action-card> -->