* {
    margin: 0;
    padding: 0;
}

ion-content {
    --background: rgb(255, 255, 255);
}

.background-img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    // margin: -15px;
    filter: brightness(70%);
}

.container {
    position: relative;
    text-align: center;
    color: white;
    background-color: rgb(61, 61, 61);
}

//----------------------------------------------
.icon-container {
    background-color: white;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5rem;
    place-content: center;
    position: relative;
    .material-icons-outlined {
        color: #3BB99B;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    ion-icon {
        font-size: 1.5rem;
        color: #3BB99B;
    }
}

.top-right {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.top-left {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//----------------------------------------------
h2 {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
}

#subtitle {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: white;
}

hr {
    background-color: rgba(255, 255, 255, 0.603);
    height: 1px;
    margin: .8rem 1rem;
    text-align: center;
}

//----------------------------------------------
.content-card {
    text-align: left;
    border-radius: 30px;
    z-index: 10;
    padding: 20px;
    margin-top: -30px;
    margin-bottom: 1rem;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .date-display {
        border: 3px solid #3BB99B;
        border-radius: 5rem;
        p {
            font-weight: 500;
            margin-left: 10px;
        }
        .filled-display {
            height: 100%;
            margin: 0;
            border-radius: 5rem;
            background-color: #3BB99B;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            p {
                top: 50%;
                width: 100%;
                margin: 0;
                font-weight: 600;
                text-align: center;
                color: white;
                position: absolute;
                transform: translateY(-50%);
                -ms-transform: translateY(-50%);
            }
        }
    }
    .admin-button {
        width: 100%;
        font-weight: 600;
        letter-spacing: .5px;
        --border-radius: 5rem;
        --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}

//----------------------------------------------
.admin-card {
    margin-bottom: 2rem;
    text-align: center;
    border-radius: 30px;
    background-color: #eee;
    .guest-list {
        margin-top: .7rem;
        margin-bottom: 5px;
        .no-guests {
            opacity: .6;
        }
        .guest-title {
            margin: 0;
            margin-left: 20px;
            margin-top: 2.3rem;
            margin-bottom: .8rem;
            text-align: start;
            font-weight: 600;
        }
    }
    ion-list {
        background: transparent;
    }
}

//----------------------------------------------
.content-row {
    margin: 0 20px;
    margin-top: 1rem;
}

.content-row-small {
    margin: 0 10px;
    margin-top: .5rem;
}

p {
    color: rgb(61, 61, 61);
    margin: 0.5rem 0;
}

.space {
    margin-top: 2rem;
}

.action-field {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 0px;
    position: relative;
    hr {
        background-color: rgba(56, 56, 56, 0.274);
        width: 100%;
        margin-bottom: 1.5rem;
    }
    ion-button {
        --background: #3BB99B;
        --border-radius: 5rem;
        --box-shadow: none !important;
        margin: 0 10px;
        margin-bottom: 1rem;
        height: 3rem;
        width: 100%;
        ion-icon {
            margin-left: 5px;
        }
    }
    .orange-button {
        --background: #e67b3d;
    }
}

.action-card-small {
    margin: 10px;
    position: relative;
    text-align: center;
    color: white;
    border-radius: 15px;
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: brightness(70%);
        border-radius: 15px;
    }
    h4 {
        // text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 0.2rem;
        font-size: .9rem;
    }
    span {
        font-size: 2.5rem;
    }
}
