<div class="client-editor">
    <h3 *ngIf="client.firstName">
        {{ client.firstName + " " + client.lastName }}
    </h3>
    <h3 *ngIf="!client.firstName">Create New Account</h3>
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
        <div class="input-field">
            <p id="hint-text">ID:</p>
            <ion-input type="text" formControlName="id" [attr.disabled]="true"></ion-input>
        </div>

        <hr />
        <div class="input-field">
            <p id="hint-text">Vorname:</p>
            <ion-input type="text" formControlName="firstName"></ion-input>
        </div>

        <div class="input-field">
            <p id="hint-text">Nachname:</p>
            <ion-input type="text" formControlName="lastName"></ion-input>
        </div>

        <hr />

        <div class="input-field">
            <p id="hint-text">E-mail:</p>
            <ion-input type="text" formControlName="email"></ion-input>
        </div>

        <div class="input-field">
            <p id="hint-text">Passwort:</p>
            <ion-input class="type-toggle" (click)="toggleShow()" [type]="showPassword ? 'text' : 'password'" formControlName="password">
                <ion-icon class="show-option" [hidden]="showPassword" name="eye-off-outline"></ion-icon>
                <ion-icon class="hide-option" [hidden]="!showPassword" name="eye-outline"></ion-icon>
            </ion-input>
        </div>

        <br />

        <ion-button (click)="onDisplayHouseSelection()">
            Ferienhäuser
            <ion-icon name="caret-down-outline" [hidden]="showHouses"></ion-icon>
            <ion-icon name="caret-up-outline" [hidden]="!showHouses"></ion-icon>
        </ion-button>

        <ion-list *ngFor="let house of loadedHouses$ | async" [hidden]="!showHouses">
            <div class="house-card">
                <ion-row>
                    <p>{{ house.pageTitle }}</p>
                    <ion-icon name="trash-outline" [hidden]="!showHouses" (click)="onDetachHouse(house)"></ion-icon>
                </ion-row>
            </div>
        </ion-list>

        <ion-button (click)="onCreateHouse()" [hidden]="!showHouses">
            Neues Haus erstellen
            <ion-icon name="add-outline"></ion-icon>
        </ion-button>
        <ion-button (ngSubmit)="submitForm()"> Speichern </ion-button>
    </form>
</div>

<!-- <ion-list>
      <ion-item>
          <ion-select placeholder="Select all fruits that apply" [multiple]="true" [ngModel]="houses" (ionChange)="onSelectHouse()">
              <ion-select-option value="apples">Apples</ion-select-option>
              <ion-select-option value="oranges">Oranges</ion-select-option>
              <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
      </ion-item>
  </ion-list> -->
