* {
    margin: 0;
    padding: 0;
}

ion-content {
    --background: var(--ion-color-light-shade);
    --background: url('/assets/images/mountain-bg.jpg') no-repeat 100% 100%;
}

ion-list {
    background-color: #ffffff00 !important;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.space {
    margin-top: 2rem;
}

h3 {
    margin-top: 4rem;
    padding: 15px;
    color: var(--ion-color-light);
}

hr {
    background-color: rgba(255, 255, 255, 0.363);
    margin: 0 15px;
}

@media screen and (min-width: 570px) {
    ion-content {
        --background: var(--ion-color-light-shade);
        --background: url('/assets/images/mountain-bg.jpg') 0/100% 200%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }
}