* {
    margin: 0;
    padding: 0;
}

.clients {
    margin: 1rem;
    h3 {
        margin: 1rem 0;
    }
}

.client-card {
    padding: 1rem;
    margin: .5rem 0;
    // border: 1px solid red;
    background-color: #F3F5F7;
    border-radius: 15px;
}

.selected {
    border: 2px solid var(--ion-color-primary);
}

.create-card {
    padding: 1rem;
    margin: .5rem 0;
    background-color: var(--ion-color-primary);
    border-radius: 15px;
    ion-row {
        justify-content: center;
        p {
            color: var(--ion-color-light);
            margin-right: .5rem;
        }
        ion-icon {
            color: var(--ion-color-light);
        }
    }
}

ion-button {
    width: 100%;
    margin-top: 1rem;
    --border-radius: 15px;
}
